* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
}

.navbar {
  padding: 10px 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  margin-bottom: 46px;
}

.navbar .logobox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
}

.logobox .hyperCityLogo {
  width: 150px;
}

.logobox .clogo {
  width: 40px;
}

.navbar .searchBar {
  flex: 1 1 300px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #353536;
  border-radius: 30px;
}

.navbar .search-input {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  padding: 0px 23px;
  outline: none;
  border: none;
  font-size: 14px;
}

.search-bar {
  display: none;
  font-size: 20px;
  cursor: pointer;
}

.menu-bar,
.category-cancel-bar {
  display: none;
  font-size: 20px;
  cursor: pointer;
}

.category-menu-bar,
.category-cancel-bar {
  display: none;
  font-size: 20px;
  cursor: pointer;
}

.menu-bar,
.category-menu-bar,
.category-cancel-bar,
.search-bar i {
  font-size: 20px;
}

.navbar button {
  background: #f7d117;
  border: 1px solid #a3adbb;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 60px;
  height: 50px;
  outline: none;
  cursor: pointer;
}

.navbar > .navsection {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  gap: 33px;
}

.navbar .loginBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.navbar .cartBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.hyper-section {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 43px;
  margin-bottom: 70px;
}

.hyper-section .hyper-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 70%;
  gap: 32px;
  /* margin-bottom: 71px; */
}

.hyper-content img {
  height: 100%;
  width: 100%;
}

.hyper-section .category-layout {
  overflow-y: auto;
  width: 305px;
  height: 75vh;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background: #fff;
}

.category-layout .category-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
  font-size: 12px;
  font-weight: bold;
}

.category-contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
  transition: all 2s ease;
}

.each-category {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  font-size: 10px;
  cursor: pointer;
}

.each-category:hover {
  color: #debc15;
  font: bold;
}

.hyper-section .hyper-dets {
  background-color: #fefae8;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 32px;
  padding: 25px 50px;
}

.hyper-section .hyper-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  font-size: 14px;
}

.hyper-info img {
  width: 30px;
}

.hyper-section .hyper-order {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.subcategory {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 15px;
  margin-bottom: 10px;
  display: hidden;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.subcategory:hover {
  background: #a3adbb;
  color: white;
}

.middleSection {
  padding: 25px 80px 0px 80px;
}

.collection-menu {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 90px;
  gap: 30px;
}

.collection-card {
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  height: 500px;
  flex: 1 0 300px;
}

.collection-location {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 1 0 300px;
  height: 500px;
}

.collection-location-card {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 250px;
  border-radius: 30px;
}

.collection-location-bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 4rem;
  /* height: 500px; */
}

.collection-location-card-bottom {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 250px;
  flex: 1 0 300px;
  border-radius: 30px;
}

.collection-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.collection-card-text {
  position: absolute;
  top: 50px;
  left: 45px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: white;
  line-height: 1.22;
}

.collection-location-card-text {
  position: absolute;
  top: 70px;
  left: 45px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: white;
}

.collection-card-subtitle {
  font-size: 1rem;
  font-weight: bold;
}

.collection-card-title {
  font-size: 2rem;
  font-weight: bold;
  display: inline-block;
  transform: scaleX(1.23);
  /* transform: scaleY(1.3); */
  transform-origin: left;
}

.collection-card-button {
  width: fit-content;
  padding: 12px 24px;
  outline: 1px solid white;
  border: none;
  background: transparent;
  color: white;
  border-radius: 2rem;
  cursor: pointer;
}

.collection-card-button:hover {
  color: #f7d117;
}
