* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background: #fff;
    padding: 25px 80px 0px 80px;
}

.navbar {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 46px;
    /* background: red; */
}

.navbar .logobox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logobox .hyperCityLogo {
    width: 150px;
}

.logobox .clogo {
    width: 40px;
}

.navbar .searchBar {
    width: 50%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #a3adbb;
    border-radius: 30px;
}

.navbar .search-input {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    padding: 0px 23px;
    outline: none;
    border: none;
    font-size: 14px;
}

.navbar button {
    background: #f7d117;
    border: 1px solid #a3adbb;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 60px;
    height: 50px;
    outline: none;
    cursor: pointer;
}

.navbar .navsection {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    gap: 33px;
}

.navbar .loginBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.navbar .cartBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.hyper-section {
    display: flex;
    width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 43px;
  margin-bottom: 70px;
}

.hyper-section .hyper-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    gap: 32px;
    margin-bottom: 71px;
}

.hyper-content img {
    width: 100%;
}

.hyper-section .category-layout {
  width: 305px;
  display: flex; 
  flex-direction: column;
  gap: 24px;
}

.category-layout .category-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px; 
} 

.category-contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.each-category {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
}

.each-category:hover {
  color: #debc15;
  font: bold;
}


.hyper-section .hyper-dets {
    background-color: #FEFAE8;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 32px;
    padding: 25px 50px;
}

.hyper-section .hyper-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    font-size: 14px;
}

.hyper-info img{
    width: 30px;
}

.hyper-section .hyper-order {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.subcategory{
    width: 100%;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 15px;
    margin-bottom: 10px;
    display:flex;
    flex-direction: row;
    justify-content: center;   
    align-items: center; 
    cursor:pointer;
    display: block;
}

.subcategory:hover{
    background: #a3adbb;
}
